* {
	box-sizing: border-box;
}

html {
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
}

header {
	background-color: cadetblue;
	padding: 20px;
	text-align: center;
}

nav {
    float: left;
	width: 22%;
	background-color: darkgray;
	font-size: 20px;
    padding: 10px;
    margin-top: 8px;
}


nav ul {
	list-style-type: none;
	padding: 0;
}

article {
	width: 78%;
	float: left;
	text-align: center;
	background-color: lightcyan;
}

section::after {
    content: "";
    display: table;
    clear: both;
}


footer {
	background-color: cadetblue;
	padding: 20px;
	text-align: center;
}

@media (max-width: 768px) {
	nav {
		width: 28%;
	}
	article {
		width: 72%;
	}
}

@media (max-width: 425px) {
	nav {
		width: 100%;
		height: auto;
		text-align: center;
	}
	article {
		width: 100%;
	}
}
